:root {
   --color-neutral-light:#f0ecec;
   --color-neutral-medium:#9e8d8d;
   --color-neutral-dark:#392f2f;


    --color-main-light: #bcebff;
    --color-main-medium: #17a6e2;
    --color-main-dark: #08435c;

    --color-alt-light: #e5d7fa;
    --color-alt-medium: #6515e2;
    --color-alt-dark: #27055c;
    
    --color-warning: #ea9310;
    --color-error: #d90c63;
    --color-purchase: #49ec80;
}

body {
   font-family:Calibri, sans-serif;
   background-color:#f9f9f9;
   padding-bottom:10em;
}




.view-window>h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.3);
    padding: 1em;
    border-radius: 1em;
    color: white;
    font-size: 3em;
}

[class*='col-']>.card {
  height:100%;
  margin:0;
}


[class*='col-']>.well {
  height:100%;
}






@media (max-width:600px) {
  h2 {
    font-size:1em;
  }
}